/*
 *= require_self
 */
@import "bourbon";
@import "preamble.css.scss";
@import "layout.css.scss";
@import "postamble.css.scss";


.pagination{
    display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
  }
  .pagination a{
      padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
  }
  .pagination a:hover,.pagination a:active{
      padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
  }
  .pagination span.current{
      padding:.1em .3em;
      margin:.2em;
      border:1px solid #369;
      font-weight:bold;
      background-color:#369;
      color:#FFF;
  }
  .pagination span.disabled{
      padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
  }

div.input, input, textarea, label {
  float: left;

}

div.input {
  width: 100%;
  margin-top:5px;
  margin-bottom:10px;
}

input[type="text"], textarea {
  font: inherit;
}


#fortunes p.body{
      margin-top: 0px;
}


p.author{
      margin-top: 0px;
      text-align: right;
      font-style:italic;
      font-size: medium;
      margin-top: -10px;
    }

#fortunes .fortune{
     border-bottom: solid 2px $html-background-color;
     margin-bottom: 25px;
     margin-top: 10px;
     .comments{
        float:left;
        font-size:small;
        text-decoration:none;
     }
    }

span.error{
    color: red;
    disply:block;
}

.hint{
    disply:block;
}

h1,h2 {
     font-variant:small-caps;
     text-shadow: 2px 2px 5px $html-background-color;
}

#commentBox{
     padding: 10px 10px 5px 10px;
     @include box-shadow(1px 1px 2px 0 darken($html-background-color, 32%));
     p.l{
         text-align: right;
         margin-top: -10px;
         margin-bottom: 5px;
         display:block;
     }
     .date{
        font-size:x-small;
        margin-botton:0px;
        float:left;
     }
}

.links a{
     padding:3px;
     text-decoration: none;
     font-size: small;

     @include border-radius(4px);
     background-color:#F5F5F5;
	color:#0072bc;
}

.links a:hover{
    background-color:#DDEEFF;
	color:#0072BC;

}

